* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-size: 24px; */
}


/* SECT1&3: #f2f4f4 */
/* SECT2: #fdfefe */
/* Blue: #2e86c1 */

/* OUTLINE: NONE */

body {
    display: flex;
}

.logo-sect {
    background-image: url(background.jpg);
    width: 40vw;
    height: 100vh;
}

.form-sect {
    background-color: #f2f4f4;
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #f2f4f4;
    height: 32.5vh;

    font-size: 2rem;
    padding: 50px;

}

.header > div,
.header > p {
    margin-top: 25px;
}

.main {
    background-color: #fdfefe;
    height: 37.5vh;

    padding: 20px 50px 20px 50px;
    font-size: 1rem;
}

#form {
    display: flex;
    flex-wrap: wrap;
}

#form > div {
    margin: 25px 115px 0px 0px;

    display: flex;
    flex-direction: column;
}

#form > div label {
    width: 200px;
}

#form > div input {
    width: 250px;
    height: 30px;

    border-radius: 4px;
}

.footer {
    background-color: #f2f4f4;
    height: 30vh;

    padding: 30px 50px 20px 50px;
    font-size: 1.5rem
}

#submit-button {
    width: 225px;
    height: 50px;

    margin-bottom: 30px;
    font-size: 1rem;
    border-radius: 10px;
}