* {
    margin: 0;
    padding: 0;
    border-style: border-box;

    font-size: 24px;
}

body {
    display: flex;
}

.logo-sect {
    background-image: url(background.jpg);
    width: 40vw;
    height: 100vh;
}

.form-sect {
    background-color: #f2f4f4;
    /* background-size:  ; */
    width: 60vw;

    display: flex;
    flex-direction: column;
}

.form-header > p,
.form-header > div {
    margin-top: 50px;
    padding-right: 200px;
}

.form-header,
.form-body {
    padding: 35px;
}



.form-body {
    background-color: #fdfefe;
    margin-top: 25px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 20px 70px 20px 0px;
}

form div label {
    width: 200px;
}

form div input {
    width: 300px;
}

.form-submit {
    background-color: #f2f4f4;
}

.form-submit > div {
    padding: 35px;
    margin-top: 10px;
}

.form-submit > p {
    padding-left: 35px;
}



/* .form-header p,
.form-header em {
    font-size: 24px;
} */